@import 'compass';
@import 'mixin';

//@include parallax-init();

html,body {
   
    font-family: "Avenir Next";
    //overflow-x:auto;
    // overflow-y:hidden;
    position: relative;
    width:$bodyWidth;
    z-index: -10;
    margin: 0;
}

/* BANDE ET NAVIGATION */


.adaptator{
  position: relative;
  float:left;
  width: $bodyWidth;
  display: block;
  background: #000;
  /* :nth-child(1){
    @include border-radius(5);
    background: #CCC;
  } */

  :nth-child(1){
    position: absolute;
    z-index: 5;

      .btn.selected {
          background: $orange
      }
    
     :hover{
          width: 30px;
          height: 30px;
          bottom: 40%;
          left: -5px;
      }
    >* {
      @include border-radius(15px);
      background: #FFF;
      width: 20px;
      height: 20px;
      margin: 20px;
      bottom:45%;
      left: 0px;
      position: relative;
      float: left;
      @include transition-property(width,height,bottom,left);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);
    }
  }
}
.nav{
  bottom: 50%;
}

#body-container{ 
  position: relative;
    float: left;
    width:$bodyWidth;
    height: 700px;
    max-height: 750px;
    z-index: -5;
    background: linear-gradient(#09151F, #542B28), url(../images/bodyMountain.png);
    background-position: bottom,bottom;
    background-repeat:repeat-x,repeat-x;
    background-blend-mode:multiply;
    list-style-type: none; 
    margin: 0;
   //  overflow-y:hidden;
}
#train{
  position:absolute;
  top:450px;
  left:-800px;
  letter-spacing: 0.4em;
  font-size:0.5em;
}
#rails{
  position: absolute;
  top: 480px;
  z-index: -1;
    background-color:$trainColor;
    
    height:5px;
    width:$bodyWidth;
}
.inside{
  background: #000; 
}
.matchEnd{
  position: relative;
  background:#000;
  width:3560px;
}
.bars{
  position: absolute;
  top:190px;
  left: 1000px;
}
.bars2{
  position: absolute;
  top:190px;
  left: 1800px;
}
#tweetWall{
  position:absolute;
  letter-spacing: 0.2em;
  color:#FFF;
  width:420px;
  right:265px;
  top: 280px;
}
#tweetName{
  float:left;
  margin-left:5px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: bold;
}
#tweetPic{
  float:left;
  margin-right: 10px;
  border-style:solid ;
  border-width:3px;
  border-color:#FFF;
  width:80px;
  height:80px;
}
#tweetText{
  float:left;
  margin-left:5px;
  margin-top: 0;
  font-size: 0.9em;
  font-weight: bold;
}
canvas{ 
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  left:0;
  top:0;
}
/* SCENE COMPLETE */
.scene{
    position: relative;
    float:left;
     height: 700px;
    width: 1169px; 
     margin: 0;
     padding: 0;  
}
.sceneBridge{
   z-index: -1;
    position: relative;
    float:left;
     height: 700px;
     width: 3069px; 
     margin: 0;
     padding: 0;  
}

.tunnelExit{
  position: absolute;
  right: 0;
}

.imageY{
    position: absolute;
    bottom: 0;
   // background: url('../images/gare.png');
}
.data2{
  position: absolute;
  left:200px;
  bottom: 0;
}
.data3{
  position: absolute;
  left:400px;
  bottom: 0;
}
.data4{
  position: absolute;
  left:600px;
  bottom: 0;

}
#lights{
  :nth-child(1){
        position:absolute;
        bottom: 0;
        left:0;
  }
  :nth-child(2){
      
        position:absolute;
        bottom: 0;
        right:0;
  }
}
.light_auto{
  width:750px;
  height: 350px;
  bottom: -50px;
  background: url('../images/lampe_autoroute.png');
  background-repeat: repeat-x;;
}
.meteo{
  :nth-child(1){
    position: absolute;
    left:-200px;
    top:350px;
    
  }
  :nth-child(2){
    position: absolute;
    left:-550px;
    bottom: 0;
  }
  :nth-child(3){
    position: absolute;
    right:0;
    bottom: 0;
  }
}
#meteoData{
  letter-spacing: 0.1em;
  font-weight:bold;
  position:relative;
  width:10px;
  height:10px;
  color:#FFF;

  :nth-child(1){
    position: absolute;
    left:-20px;
    top:85px; 
  }
  :nth-child(2){
    position: absolute;
    color:#000;
    left:130px;
    top:100px; 
  }
  :nth-child(3){
    position: absolute;
    left:315px;
    top:95px; 
  }
  :nth-child(4){
    position: absolute;
    left:558px;
    top:35px; 
  }>* {
    opacity: 0;
      // visibility: hidden;
  }
}

#lune{
  position: absolute;
  top:0;
  left:250px;
}
.end{
  position: relative;
  width: 1169px;
  height: 700px;
  background: #000;
}
#seat{
  margin:0;
    color:#F00;
    position: absolute;
    top: 300px;
    left:517px;
    font-size: 4em;
    font-weight: bold;
  }
#parallax{
  position: absolute;
  bottom: -6px; // pour corriger la profondeur qui laisse 1 pixel de marge 
  width: 13152px;
 height: 200px;
 overflow:hidden;
}

/* My Parallax  Style*/
#middleGround{ 
    :nth-child(1){
    background: url(../images/montagne_background.png);
    bottom: -200px;

    }
    :nth-child(2){
        background: url(../images/montagnes_midleground.png);
    }
    :nth-child(3){
         background: url(../images/montagnes_foreground.png);
    }
  >* {
    position: absolute;
    margin: 0;
    width:$bodyWidth*2;
    z-index: 4;
    height: 200px;
    background-repeat: repeat-x;
  }
}

/* APPEND TEXT*/

.appendTextTrain{
  //@include textEnter();
  position:absolute;
  top: -40px;
  right:180px;
  color:#FFF;
  font-size:2em;
 // background-color:#222 ;
  opacity: 1;
  padding: 0px 4px 3px 4px;
  @include border-radius(20px);
}
.appendTextMountain{
  //@include textEnter();
  position:absolute;
  top: -80px;
  right:160px;
  color:#FFF;
  font-size:2em;
 // background-color:#222 ;
  opacity: 1;
  padding: 0px 4px 3px 4px;
  @include border-radius(20px);
}


