@import 'compass';
@import 'mixin';

//@include parallax-init();

html,body {
   
    font-family: "Avenir Next";
    //overflow-x:auto;
     overflow-y:hidden;
    position: relative;
    width:$bodyWidth;
    z-index: -10;
    margin: 0;
}

/* BANDE ET NAVIGATION */


.adaptator{
  position: relative;
  float:left;
  width: $bodyWidth;
  display: block;
  background: #000;
  /* :nth-child(1){
    @include border-radius(5);
    background: #CCC;
  } */

  :nth-child(1){
    position: absolute;
    z-index: 5;
    
     :hover{
          width: 30px;
          height: 30px;
          top:45px;
          left: -5px;
      }
    >* {
      @include border-radius(15px);
      background: #FFF;
      width: 20px;
      height: 20px;
      margin: 20px;
      top:50px;
      left: 0px;
      position: relative;
      float: left;
      @include transition-property(width,height,top,left);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);

    }
  }
}

#body-container{ 
  position: relative;
    float: left;
    width:$bodyWidth;
    height: 700px;
    max-height: 750px;
    z-index: -5;
    background: linear-gradient(#09151F, #542B28), url(../images/bodyMountain.png);
    background-position: bottom,bottom;
    background-repeat:repeat-x,repeat-x;
    background-blend-mode:multiply;
    list-style-type: none; 
    margin: 0;
}
#train{
  position:absolute;
  top:450px;
  left:-800px;

}
#rails{
  position: absolute;
  top: 480px;
  z-index: -1;
    background-color:$trainColor;
    
    height:5px;
    width:$bodyWidth;
}
.inside{
  background: #000; 
}
.matchEnd{
  width:3460px;
}
.bars{
  position: absolute;
  top:190px;
  left: 1000px;
}
.bars2{
  position: absolute;
  top:190px;
  left: 1800px;
}
canvas{ 
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  left:0;
  top:0;
}
/* SCENE COMPLETE */
.scene{
    position: relative;
    float:left;
     height: 700px;
    width: 1169px; 
     margin: 0;
     padding: 0;  
}
.sceneBridge{
   z-index: -1;
    position: relative;
    float:left;
     height: 700px;
     width: 3069px; 
     margin: 0;
     padding: 0;  
}

.tunnelExit{
  position: absolute;
  right: 0;
}

.imageY{
    position: absolute;
    bottom: 0;
   // background: url('../images/gare.png');
}
.data2{
  position: absolute;
  left:200px;
  bottom: 0;
}
.data3{
  position: absolute;
  left:400px;
  bottom: 0;
}
.data4{
  position: absolute;
  left:600px;
  bottom: 0;

}
#lights{
  :nth-child(1){
        position:absolute;
        bottom: 0;
        left:0;
  }
  :nth-child(2){
      
        position:absolute;
        bottom: 0;
        right:0;
  }
}
.light_auto{
  width:750px;
  height: 350px;
  bottom: -50px;
  background: url('../images/lampe_autoroute.png');
  background-repeat: repeat-x;;
}
.meteo{
  :nth-child(1){
    position: absolute;
    left:-200px;
    top:350px;
    
  }
  :nth-child(2){
    position: absolute;
    left:-550px;
    bottom: 0;
  }
  :nth-child(3){
    position: absolute;
    right:0;
    bottom: 0;
  }
}
#lune{
  position: absolute;
  top:0;
  left:250px;
}
.end{
  position: relative;
  width: 1169px;
  height: 700px;
  background: #000;
}
#seat{
  margin:0;
    color:#F00;
    position: absolute;
    top: 300px;
    left:517px;
    font-size: 4em;
  }
#parallax{
  position: absolute;
  bottom: 0;
  width: 13152px;
 height: 200px;
 overflow:hidden;
}
.nav{
  bottom: 40px;
}

/* My Parallax  Style*/
#middleGround{ 
    :nth-child(1){
    background: url(../images/montagne_background.png);
    bottom: -200px;

    }
    :nth-child(2){
        background: url(../images/montagnes_midleground.png);
    }
    :nth-child(3){
         background: url(../images/montagnes_foreground.png);
    }
  >* {
    position: absolute;
    bottom:-2px; // -2 px pour corriger la profondeur qui laisse 1 pixel de marge 
    margin: 0;
    width:$bodyWidth*2;
    z-index: 4;
    height: 200px;
    background-repeat: repeat-x;
  }
}

/* APPEND TEXT*/

.appendText{
  //@include textEnter();
  position:absolute;
  top: -70px;
  left :42%;
  color:#FFF;
  font-size:2em;
 // background-color:#222 ;
  opacity: 1;
  padding: 0px 4px 3px 4px;
  @include border-radius(20px);
}


