$trainColor:#0f0200;
$bodyWidth:17780px;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin textEnter{
  @include transition-property(opacity);
  @include transition-duration(1s);
}
@font-face {
  font-family:'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Bold_gdi.eot');
  src: url('../fonts/AvenirNextLTPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextLTPro-Bold_gdi.woff') format('woff'),
    url('../fonts/AvenirNextLTPro-Bold_gdi.ttf') format('truetype'),
    url('../fonts/AvenirNextLTPro-Bold_gdi.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}